.title {
    @include light-font(5.4rem);
    text-align: left;
    margin-top: 100px;
    line-height: 1.25;
}

h2 {
    padding-top: 20px;
    @include dark-font(2rem);
}

h3 {
    @include dark-font(2.8rem);
    margin: 0;
    line-height: 1;
}

.hero {
    background-image: url(../assets/image-1.png);
    min-height: 90vh;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    position: relative;
    &-start-icon {
            position: absolute;
            bottom: 10px;
            left: 175px;
            &:hover {
                cursor: pointer;
            }
        }
}


.fas-header {
    color: $color-maintxt;
    font-size: 6rem;
    padding: 0  0 60px 20px;
    animation: fade-in 3s;
     animation-iteration-count: 3;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
.header-nav {
    display: flex;
    justify-content: right;
    padding: 0 160px 0 50px;
    text-align: right;
}

.moon {
    align-self: flex-start;
}